# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf
*.bin
*.imx

# Linker output
*.ilk
*.map
*.exp
*.lst

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# MultiZone SDK

/.settings/
/.project
/.cproject

/ext/mkimage/*
!/ext/mkimage/README

/ext/openocd
!/ext/openocd/README

/ext/scfw/*
!/ext/secofw/README
!/ext/secofw/board.patch

/ext/secofw/*
!/ext/secofw/README

/ext/qnx/*
!/ext/qnx/README
!/ext/qnx/multizone-qnx-test.c
!/ext/qnx/Makefile
